<div class="col-md-6">
  <div class="well well-sm">
      <div class="row">
          <div class="col-xs-3 col-md-3 text-center">
              <img [src]="news.urlImage" alt="bootsnipp"
                  class="img-rounded img-responsive" />
          </div>
          <div class="col-xs-9 col-md-9 section-box">
              <h2>
                {{news.title}} <a ><span style="color:red" class="glyphicon glyphicon-remove" (click)="delete(news.id)">
                  </span> <span style="color:green"   class="glyphicon glyphicon-pencil">
                  </span> <app-modal-addereso [editable]='news'></app-modal-addereso></a>
              </h2>
              <p>
                {{news.bodyF}}</p>
              <hr />
              <div class="row rating-desc">
                  <div class="col-md-12">
                      <span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                      </span><span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart">
                      </span><span class="glyphicon glyphicon-heart"></span>(36)<span class="separator">|</span>
                      <span class="glyphicon glyphicon-user"></span> {{news.author}}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
